body{

background:#000;

color:#00ffff;

font-family:Arial;

text-align:center;

padding-top:100px;

}

button{

padding:15px;

font-size:20px;

background:#00ffff;

border:none;

cursor:pointer;

border-radius:10px;

}

button:hover{

background:white;

}

#status{

margin-top:20px;

font-size:25px;

}
